<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paddo: ChatGPT on the go!</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
</head>
<body>
    <main>
        <div class="logo">
            <img src="../images/paddo.png" width="35" height="35" alt="paddo logo" />
        </div>
        <div class="container">
            <h1 class="heading"><b>Paddo</b> - Work Smarter!</h1>
            <p class="small-text hint-text">
                <i>Hint</i>: Paste/Type a command or question in the box below and get the quickest, shortest refined answer.
            </p>
            <textarea name="prompt" id="promptBox" rows="5" placeholder="Type something..."></textarea>
            <button type="submit" id="submitButton" disabled>Ask Paddo</button>
        </div>
    </main>
</body>
<script src="./script.js"></script>
</html>